@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
    --game-red: #E63946;
    --game-white: #F1FAEE;
    --game-light-blue: #A8DADC;
    --game-blue: #457B9D;
    --game-dark-blue: #1D3557;

    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    background: var(--game-light-blue);
}

.title {
    margin: 0 auto;
    font-size: 50px;
}

.outer-game-container {
    display: flex;
}

button {
    background-color: var(--game-dark-blue);
    color: var(--game-white);
    border: none;
    border-radius: 8px;
    height: 30px;
    min-width: 110px;
}

button:hover {
    cursor: pointer;
}

.side-container {
    display: flex;
    flex-direction: column;
}

.sidepanel {
    padding-top: 45px;
    width: 0px; /* this is to be changed with JS */
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    overflow-x: hidden;

    transition: 0.5s;
}

.side-info {
    padding-top: 350px;
}

.panel-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    z-index: 2
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    font-family: 'Nunito Sans', sans-serif;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.instructions-open {
    width: 100%;
}
.letter {
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateY(50px);
    display: inline-block;
}

.letter.fade {
    opacity: 1;
    transform: translateY(0px)
}

.inner-game-container {
    width: 860px;
}

.correct-entries {
    height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.words-container {
    /* height: 480px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.outer-placeholder {
    border-bottom: 1px solid black;
    /* width: fit-content; */
    margin: 2px
}

.hidden-text {
    visibility: hidden;
}

@keyframes blink {
    50% {
        opacity: 0;
        color: var(--game-red);
    }
}

.text-blink {
    animation: blink 0.6s linear infinite;
}

.game-board {
    padding-left: 30px;
}

.letters-container {
    height: 140px;
    position: relative;
}

.guess-container {
    height: 140px;
    position: relative;
}

.game-letter {
    /* top: 30%; */
    cursor: pointer;
    background-color: var(--game-red);
    color: var(--game-white);
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
    z-index: 1;
    position: absolute;
    -webkit-transition: top 300ms linear, left 300ms linear;
    transition: top 300ms linear, left 300ms linear;
}

.points-div {
    width: 100px;
    height: 100px;
    position: relative;
}

.points, .point-expression {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.point-expression {
    font-size: 70px;
    transition: all 500ms;
}

.point-shrink {
    font-size: 15px;
    color: transparent;
}

.time-div {
    width: 100px;
    height: 100px;
    position: relative;
}

.countdown, .count-expression {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.count-expression {
    font-size: 70px;
    transition: all 500ms;
}

.count-shrink {
    font-size: 15px;
    color: transparent;
}